// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// color: #FAED26; yellow
// color: #46344E; dark
// color: #5A5560; grey
// color: #9D8D8F; milky
// color: #9B786F; beige
