// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Ours:
$main-yellow: #FAED26;
$dark-purple: #46344E;
$grey-purple: #5A5560;
$grey-red: #9D8D8F;
$grey-orange: #9B786F;
$grey-white: #EFEFEF;
$white-purple: #E6E3E8;
