          <!-- to fix, we need to iterate, as we have many reviews -->
          <% if art.rating == nil? %>
            <p>-</p>
          <% else %>
            <p><%= art.rating %></p>
          <% end %>
