<div class="banner" style="background-image: url(https://unsplash.com/photos/oLhTLD-RBsc), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
 <h1>Rentart</h1>
 <p>Rent art. Make your home unique.</p>
 <%= link_to "Rent now", new_user_registration_path , class: "btn btn-ghost" %>
</div>
<div class="container">
</div>

