.container {
  background-color: $white-purple;
  padding-bottom: 20px;
  font-family: $body-font;
}

.container h1 h2 h3 {
  font-family: $headers-font;
}

.background {
  background-color: $white-purple;
  font-family: $body-font;
}

.background h1 h2 h3 {
  font-family: $headers-font;
}
